
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.float-para{
  float:right;
}

.fa-2x{
  float: right;
  color:grey;
}

@media screen and (max-width:600px) {
  .fa-2x{
    float: none;
    margin-top: 20px;
  }
}
