<%- include('partials/header') -%>
  <h1>ABOUT</h1>
  <hr />
  <div>
    <h4>Hello everyone... Daniel Tutors here!</h4>

    <p>

    For those of you wondering, my name is Oladapo Olayinka Daniel Kalejaye Oremade. Yep, now you feel better with Daniel Tutors, don't you?

    A couple of years back, when I was in 7th grade, someone painted on the wall of my classroom, "School is fun, when you know the answers". That stuck with me, and I must confess I enjoyed school.... and yes I mostly knew the answers. Lol. Jokes aside, this quote has been the drive behind Daniel Tutors. My goal is to find ways I can teach different subjects, and make students enjoy learning. I believe this is a continual process, so if you enroll in any of my courses, and would like a different style, or think of a more fun way to go about it, kindly use my feedback forms in the course to let me know. I also do one-on-one tutoring in the hub and bid section of AssignmentMe. If anyone will like a personal tutoring session, please send me a message.

    Thanks for taking the time to read about me. I hope you enroll in one of my courses. One final question for you....... why did the chicken cross the road?
    </p>
  </div>
  <div class="">
      <p>
        Some of my courses out there!
      </p>

      <ul class="list-group">
        <li class="list-group-item">
          <a href="https://courses.assignmentme.com/courses/skeletal-system/" target="new">Skeletal System</a>
        </li>
        <li class="list-group-item">
          <a href="https://courses.assignmentme.com/courses/skeletal-system/" target="new">
          <img src="./images/skeleton.jpg" width="50%"/>
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://courses.assignmentme.com/courses/muscular-system/" target="new">Muscular System</a>
        </li>
        <li class="list-group-item">
          <a href="https://courses.assignmentme.com/courses/muscular-system/" target="new">
            <img src="./images/muscle.jpg" width="50%"/>
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://courses.assignmentme.com/courses/ap-i-module-1/" target="new">Anatomy & Physiology Module 1</a>
        </li>
        <li class="list-group-item">
          <a href="https://courses.assignmentme.com/courses/ap-i-module-1/" target="new">
            <img src="./images/module1.png" width="50%"/>
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://courses.assignmentme.com/courses/anatomy-physiology-module-2m/" target="new">Anatomy & Physiology Module 2</a>
        </li>
        <li class="list-group-item">
          <a href="https://courses.assignmentme.com/courses/anatomy-physiology-module-2/" target="new">
          <img src="./images/module2.png" width="50%"/>
          </a>
        </li>
      </ul>
  </div>
<%- include('partials/footer') -%>
